@import url('//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css');
@import '../../../../../../../wp-sharks-core/src/client-s/css/env';

/*
 * Preview styles.
 */
#md-preview {
  display:                    block;

  @include hljs-pre-code;

  abbr[title] {
    cursor:                   help;
    border-bottom:            1px dotted;
  }
}
